.container {
    background: violet;
    margin-top: 30px;

}

 .uno{
    background-color: aquamarine;
}

.dos{
    background-color: azure;
}

.tres{
    background-color: aqua;
}
.ancho{
    background-color: blueviolet;
}